<%- include("./partials/header.ejs") %> 
        <!-- <h1>Welcome to My Express Application</h1>
        <img 
          class="cute-kitten"
          src="/images/cute-kitten.jpg" 
          alt="Cute Kitten"
          height="500px"
        /> -->
<%- include("./partials/footer.ejs") %> 