<%- include("./partials/header.ejs") %> 

<div class="signInBody">
    <% if ( !request.cookies.username) {%>}

    <form method="POST" action="sign_in">
        <div class="form-group">
            <label for="username">Username</label><br>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>

        <button type="submit" class="btn btn-outline-secondary btn-lg float-right">
            Sign In
        </button>
    </form>
    <%} else {%>
    <form action="/sign_in" method="DELETE">
        <div>
            <label for="username">Username</label>
            <label><%=request.cookies.username%></label>
        </div>
    </form>
    <%}%>
</div>
<%- include("./partials/footer.ejs") %> 